<!-- Header Start -->
<div class="container-fluid px-0 fullheight-mobile">
    <div class="row gx-0 fullheight-mobile">
    <div class="col-6 fullheight-mobile header__left">

        <!-- Logo Start -->
        <!-- <div class="logo">
        <img src="img/logo.svg" alt="Ignite - Coming Soon and Landing Page Template">
        </div> -->
        <div class="logo d-flex justify-content-center align-items-center">
        <!-- <img src="img/logo.svg" alt="lafa.codes_ - Web & App Developer"> -->
        <a href="/">
            <h3 class="" style="font-size:x-large; font-weight: 600;">lafa.codes<span id="blink-type">_</span></h3>
        </a>
        </div>
        <!-- Logo End -->

    </div>
    <div class="col-6 fullheight header__right">

        <!-- Subscribe Button Start -->
        <a href="#0" id="notify-trigger" class="btn btn-s notify-trigger">
        <i class="fa-solid fa-paper-plane"></i>
        <span class="title">Subscribe</span>
        <span class="hover">Subscribe</span>
        </a>
        <!-- Subscribe Button End -->

        <!-- Menu Trigger Start -->
        <div class="menu-button">
        <a href="#0" id="menu-trigger" class="menu-trigger">
            <span class="burger"></span>
            <span class="circle"></span>
        </a>
        </div>
        <!-- Menu Trigger End -->

    </div>
    </div>
</div>
<!-- Header End -->
  <!-- Load Scripts Start -->
  <script src="js/libs.min.js"></script>
  
  <script src="js/custom.js"></script>