<!-- Navigation Start -->
<div class="nav__container">
    <!-- menu background -->
    <div class="nav__background"></div>
    <div class="nav__content text-center">
        <ul class="navigation">
            <li>
                <a id="home-trigger" class="nav__link" href="/#0">
                    <span class="link-title">Home</span>
                    <span class="link-hover">Home</span>
                </a>
            </li>
            <li>
                <a id="about-trigger" class="nav__link" href="/#0">
                    <span class="link-title">About Me</span>
                    <span class="link-hover">About Me</span>
                </a>
            </li>
            <li>
                <a id="works-trigger" class="nav__link" href="/#0">
                    <span class="link-title">Projects</span>
                    <span class="link-hover">Projects</span>
                </a>
            </li>
            <li>
                <a id="contact-trigger" class="nav__link" href="/#0">
                    <span class="link-title">Contact</span>
                    <span class="link-hover">Contact</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Navigation End -->