<!-- Notify Popup Start -->
    <div id="notify" class="popup notify">
        <div class="popup__container">
  
          <!-- Popup Content Start -->
          <div class="popup__content block-rounded-s">
  
            <!-- popup close button -->
            <a href="#0" id="notify-close" class="popup-close">
              <i class="fa-solid fa-xmark"></i>
            </a>
  
            <!-- Notify Popup Title Start -->
            <div class="popup-title">
              <p class="popup-title__title">Subscribe to my latest updates</p>
              <p class="popup-title__text">And be the first to know about my new projects, ideas and work in process</p>
            </div>
            <!-- Notify Popup Title End -->
  
            <!-- Notify Form Container Start -->
            <div class="form-container">
  
              <!-- Reply Messages Start-->
              <div class="reply-group subscription-ok">
                <i class="fa-solid fa-circle-check reply-group__icon"></i>
                <p class="reply-group__title txt-light">Done!</p>
                <span class="reply-group__text">Thanks for subscribing!</span>
              </div>
              <div class="reply-group subscription-error">
                <i class="fa-solid fa-face-frown-open reply-group__icon"></i>
                <p class="reply-group__title">Ooops!</p>
                <span class="reply-group__text">Something went wrong. Please try again later.</span>
              </div>
              <!-- Reply Messages End-->
  
              <!-- Notify Contact Form Start-->
              <form class="form notify-form form-light">
                <input class="margin-l" type="email" placeholder="Your Email" required>
                <button class="btn btn-l btn-light" type="submit">
                  <span class="btn-title">Submit</span>
                  <span class="btn-hover">Submit</span>
                </button>
              </form>
              <!-- Notify Contact Form End-->
  
            </div>
            <!-- Notify Form Container End -->
  
          </div>
          <!-- Popup Content End -->
  
        </div>
      </div>
      <!-- Notify Popup End -->
  
      <!-- Say Hello Popup Start -->
      <div id="sayhello" class="popup sayhello">
        <div class="popup__container">
  
          <!-- Popup Content Start -->
          <div class="popup__content block-rounded-s">
  
            <!-- popup close button -->
            <a href="#0" id="sayhello-close" class="popup-close">
              <i class="fa-solid fa-xmark"></i>
            </a>
  
            <!-- Say Hello Popup Title Start -->
            <div class="popup-title">
              <p class="popup-title__title">Let's talk!</p>
            </div>
            <!-- Say Hello Popup Title End -->
  
            <!-- Say Hello Form Container Start -->
            <div class="form-container">
  
              <!-- Reply Messages Start-->
              <div class="reply-group">
                <i class="fa-solid fa-circle-check reply-group__icon"></i>
                <p class="reply-group__title">Done!</p>
                <span class="reply-group__text">Thanks for your message. I'll get back as soon as possible</span>
              </div>
              <!-- Reply Messages End-->
  
              <!-- Contact Form Start -->
              <form class="form form-light sayhello-form" id="sayhello-form">
                <!-- Hidden Required Fields -->
                <input type="hidden" name="project_name" value="Ignite - Coming Soon and Landing Page Template">
                <input type="hidden" name="admin_email" value="support@mixdesign.club">
                <input type="hidden" name="form_subject" value="Contact Form Message">
                <!-- END Hidden Required Fields-->
                <div class="container-fluid px-0">
                  <div class="row gx-5">
                    <div class="col-12 col-md-6">
                      <input class="" type="text" name="Name" placeholder="Your Name" required>
                    </div>
                    <div class="col-12 col-md-6">
                      <input class="" type="text" name="Company" placeholder="Your Email" required>
                    </div>
                    <div class="col-12">
                      <textarea class="margin-l" name="Message" placeholder="A Few Words" required></textarea>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-l btn-light" type="submit">
                        <span class="btn-title">Send</span>
                        <span class="btn-hover">Send</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Contact Form End  -->
  
            </div>
            <!-- Say Hello Form Container End -->
  
          </div>
          <!-- Popup Content End -->
  
        </div>
      </div>
      <!-- Say Hello Popup End -->
  